$gray-200: #4e5555;
$red-pink-300: #e23161;
$white: #ffffff;
$green-300: #06d6a2;
$main-500: #0e407a;
$orange-400: #e58863;
$gray-300: #484f55;
$gray-400: #4c5a5a;
$red-pink-400: #db3766;
$green-400: #06d7a5;
$gray-100: #b7bfc0;
